@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&display=swap" rel="stylesheet')

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

span {
    font-family: 'Imperial Script', cursive;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: #fff;
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    color: #008B8B;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #000;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: #008B8B;
    text-shadow: 0 0 5px #fff;
    transform: scale(1.3);
    display: inline-block;
}

.art--info {
    width: 530px;
    padding-top: 70px;
}

.art--info h2 {
    color: #000;
    font-size: 40px;
    font-weight: 520;
}

.art--info h1 {
    color: #000;
    font-size: 25px;
    font-weight: 300;
    line-height: 140%;
    margin: 30px 0;
}

.painting--info h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding-top: 150px;
    margin-left:700px;
}

.painting--info p {
    color: #000;
    margin-left:700px;
}

.art--info .btn {
    background: #ааа;
    color: #000;
    font-size: 18px;
    padding: 15px 20px;
    border: 0;
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: opacity 0.3s;
}

.art--info .btn:hover {
    opacity: 0.7;
    color: #008B8B;
}

.art--info .btn:active {
    opacity: 0.9;
}

.painting--info img {
    position: relative;
    width: 700px;
    height: 700px;
    top:-850px;
    right: -700px;
}