@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
}

span {
    font-family: 'Imperial Script', cursive;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: #fff;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    width: 100%;
}

header {
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: #008B8B;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #000;
    display: inline-block;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: #008B8B;
    transform: scale(1.3);
}

.art--info {
    color: #000;
    width: 530px;
    padding-top: 30px;
}

.art--info h2 {
    color: #000;
    font-size: 35px;
    font-weight: 650;
}

.art--info h1 {
    color: #000;
    font-size: 25px;
    font-weight: 300;
    line-height: 140%;
    margin: 30px 0;
    max-width: 52ch;
}

.art--painting h3 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding-top: 70px;
    margin-bottom: 6px;
}

.art--painting p {
    color: #000;
    opacity: 0.8;
}

.btn {
    background: #f0f0f0;
    color: #000;
    font-size: 18px;
    padding: 15px 20px;
    border: 0;
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.7;
    color: #008B8B;
}

.btn:active {
    opacity: 0.9;
}

.art{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 60px;
    align-items: start;
    padding: 40px 0;
}

.art--painting img{
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.painting--description{
    margin-top: 30px;
}

.tour--description{
    margin-top: 30px;
}
.error--message{
    color:  red;
    margin-top: 20px;
    font-size: 18px;
}