@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet')

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

span {
    color: #499e68;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: #fff;
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #000;
}

header nav ul li a:hover {
    border-bottom: 5px solid #499e68;
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #000;
    font-size: 40px;
    font-weight: 520;
}

.hero--info h1 {
    color: #000;
    font-size: 25px;
    font-weight: 300;
    line-height: 140%;
    margin: 30px 0;
}

.hero--info h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding-top: 100px;
}

.hero--info .btn {
    background: #499e68;
    color: #000;
    font-size: 18px;
    padding: 20px 40px;
    border: 0;
    transition: all 500ms ease;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: 0px;
    right: 0;
}